<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Demo Application - Cyril Halmo</title>

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />

</head>

<body>

	<nav th:replace="template::navbar"></nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<table class="table table-bordered table-dark">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date of Birth</th>
							<th>Address</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="applicant : ${#lists.sort(applicants, byName)}">
							<td><span th:text="${applicant.firstName}">FirstName</span>&nbsp;<span
								th:text="${applicant.lastName}">LastName</span></td>
							<td><span
								th:text="${#dates.format(applicant.dateOfBirth, 'dd.MM.yyyy')}">DateOfBirth</span></td>
							<td><span th:text="${applicant.streetName}">StreetName</span>&nbsp;<span
								th:text="${applicant.houseNumber}">HouseNumber</span><br> <span
								th:text="${applicant.cityName}">City</span><span
								th:text="${applicant.zipCode}">Zip</span></td>
							<td>
								<form th:action="@{/applicant/} + ${applicant.id}" method="get">
									<input class="btn btn-primary" type="submit"
										value="Edit Applicant">
								</form>
							</td>
							<td>
								<form th:action="@{/applicants/delete/} + ${applicant.id}"
									method="post">
									<input class="btn btn-primary" type="submit"
										value="Delete Applicant">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="template::foot"></div>

</body>

</html>